{
  "presets": [
    ["env", { "target": { "node": 4 } }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-flow-strip-types",
    "transform-runtime",
    "add-module-exports",
    ["array-includes", { "useBuiltIns": true }]
  ]
}
