{
  "extends": [
    "./src/modules/@knit/eslint-config-socks/index.js"
  ],
  "rules": {
    "no-console": 0,
    "fp/no-mutation": 0,
    "fp/no-let": 0,
    "fp/no-throw": 0,
    "fp/no-mutating-methods": 0,
    "fp/no-mutating-assign": 0,
    "fp/no-rest-parameters": 0,
    "no-throw-literal": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "max-len": 0,

    "no-multi-assign": 0
  }
}
