# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
/node_modules
/jspm_packages

# Optional npm cache directory
.npm
.jest
.history

# Optional REPL history
.node_repl_history

# IDEs
.idea
*.iml
.vscode

# build folders
dist

# OS
.DS_Store
