---
git:
  depth: 10
language: node_js
node_js:
  - "6"
  - "4"
cache: yarn
script:
  - node --version
  - yarn --version
  - yarn knit -- validate --verbose
  - yarn lint
  - yarn flow
  - yarn test
